<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title} + ${menu.name}" >Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${form}">

    <div class="form-group">
        <label th:for="type">Type</label>
        <select th:name="cheeseId">
            <option th:each="category : ${cheeses}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>

        <input type="hidden" name="menuId" th:value="*{menu.id}" />

    </div>

    <input type="submit" value="Add Cheese" />

</form>
<p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

</body>
</html>